.logo
  .logo-icon
    img(src='https://images.contentful.com/y6x5dbm6rf7a/2XaMo3nQKAoM6gKoAkqUmM/40b76c91253b58e430284a7371c9f13b/logo-primary-1200x1357.png')
  .logo-text
    img(src='https://images.contentful.com/y6x5dbm6rf7a/6iw6Agy0tUuI0MuGyGYEY0/9e1f84af743ccafb5f4a7616afbc15b4/Maddie-Deere-Ceramics-Logo-Text.png')