extends ./layout

block header
	.row
		.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
			include ./layout/header
			+header({breadcrumbs:false, logo:false})

block content
	- var files = pagination ? pagination.files : files || [];

	//- Files
	include ./components/cards
	- var perRow = 4
	- var cardOpts = {}

	section.section-no-divider
		each i, index in files
			if index%perRow === 0
				.row
					each item in files.slice(index,index+perRow)
						.col-sm-6.col-md-3
							+card(item,cardOpts)

	if pagination && pagination.pages.length > 1
		section.section-divider
			//- Pagination
			nav.pagination-wrapper(aria-label='Page navigation')
				ul.pagination
					if pagination.previous
						li
							a(href=pagination.previous.path, aria-label='Previous')
								span(aria-hidden='true') «
					each page,index in pagination.getPages(10)
						li
							a(href=page.path)!= index+1
					if pagination.next
						li
							a(href=pagination.next.path, aria-label='Previous')
								span(aria-hidden='true') »