extends ./page




block content
  #content
    .row
      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        .row
          section.work-images.col-md-8
            .work-sidebar-img-wrapper(style=`background-image: url(${contentfulImage(images[0])})`)
              .content
                img.work-sidebar-img(src=contentfulImage(images[0]))
            if images.length > 1
              .row
                each image in images.slice(1)
                  .col-md-6
                    .work-sidebar-img-wrapper(style=`background-image: url(${contentfulImage(image)})`)
                      .content
                        img.work-sidebar-img(src=contentfulImage(image))

          section.work-description.col-md-4
            != contents

block append postContent
  .modal.fade#work-modal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.work-modal-close
            i.fa.fa-times
        .modal-body
  script.
    loadScript(function () {
      (function ($, lazySizes) {
        var modal = $('#work-modal')
        modal.modal({show:false})
        $('.work-sidebar-img').click(function() {
          var el = $(this)
          modal.modal('show')
          modal.find('.modal-body').html(el.clone())
          setTimeout(function () {
            lazySizes.autoSizer.checkElems()
          }, 30)
        })
        $('.work-modal-close').click(function () {
          modal.modal('hide')
        })
      })(jQuery, lazySizes)
    })